*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* setting hsl colors for the background, wrong and correct colors */
:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}

body {
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: hsl(var(--hue), 100%, 20%);
}

header {
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 10px;
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px 10px grey;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  --hue: var(--hue-neutral);
  border: 2px solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 100%, 30%);
  border-radius: 15px;
  padding: 10px 10px;
  color: whitesmoke;
}

.btn:hover {
  border-color: black;
  opacity: 80%;
}

.btn.correct {
  --hue: var(--hue-correct);
  color: black;
}

.btn.wrong {
  --hue: var(--hue-wrong);
}

.start-btn,
.next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2,
h3 {
  font-family: fantasy;
}

hr.solid {
  border-top: 3px solid rgb(168, 14, 14);
}

.endPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nameText {
  padding: 10px;
  margin: 20px;
}

.hide {
  display: none;
}
