@import url("https://fonts.googleapis.com/css2?family=Babylonica&family=Pacifico&family=Poppins:wght@200;300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Babylonica", cursive;
  font-family: "Pacifico", cursive;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url("../images/background-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  margin: 20px;
  padding: 20px;
  color: beige;
  text-align: center;
}

header h1 {
  font-family: fantasy;
  font-weight: bolder;
}

.startBtn {
  width: 500px;
}

.startBtn:hover {
  background-color: lightseagreen;
}

.container {
  width: 80vw;
  max-width: 80%;
  background-color: beige;
  opacity: 85%;
  height: 80vh;
  box-shadow: 0 0 10px 4px royalblue;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: auto;
}
header p,
.timer,
.score {
  font-size: large;
  font-weight: bold;
}

.btn {
  font-size: large;
  font-weight: bold;
  border-color: blue;
  background-color: royalblue;
  padding: 10px;
  margin: 5px;
  color: beige;
  border-radius: 1rem;
  cursor: pointer;
}

.questions {
  font-size: large;
  font-weight: bold;
  padding: 20px;
  margin: 5px;
}

.questionPage {
  padding: 20px;
  margin: 20px;
}

.controlFlex,
.yesnoGrid {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 30px;
  margin: 10px;
}

.choiceGrid {
  display: grid;
  grid-template-columns: auto auto;
}
.controlBtn {
  background-color: grey;
  color: beige;
  padding: 20px;
  margin: 0 20px 0 20px;
}

.controlBtn:hover {
  background-color: lightseagreen;
}

.yesnoBtn .choiceBtn {
  padding: 10px;
  margin: 5px;
}

.choiceBtn:hover {
  background-color: lightseagreen;
}

/* .controlGrid {
  display: grid;
  grid-template-columns: auto auto;
} */
.controlBtn {
  padding: 10px;
  margin: 5px;
}

form label,
.leaderPage p,
.endPage {
  font-size: large;
  font-weight: bold;
}

form input {
  font-size: large;
  font-weight: bold;
  border-radius: 5px;
  border-color: royalblue;
}

.endPage {
  padding: 0px;
  margin: 10px;
}
.true {
  background-color: lightseagreen;
  /* color: black; */
}

.false {
  background-color: salmon;
  /* color: black; */
}

.hide {
  display: none;
}
